<div>
    <div class="bar bar-header">
        <a class="button icon-left ion-chevron-left button-clear button-dark"
           href="#/tab/messages">Back</a>

        <h1 class="title">{{ component }}</h1>
    </div>
    <ion-content>
        <ion-list>
            <ion-item type="item-text-wrap"
                      ng-repeat="message in messages  | orderBy:['-favorite','-id']"
                      ng-click="goDetail(message.id,message.read,message.origin)">

                <h1 ng-class="{positive: message.read, energized: message.favorite}">
                    {{ message.id }}
                </h1>

                <div class="row">
                    <div class="col">{{ message.message}}{{ message.metadata.target_VAL| currency:"RMB￥"}}</div>
                </div>
                <div class="row">
                    <span class="item-note" am-time-ago="message.date"></span>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
</div>


