<ion-view title="SAP User Validation" hide-back-button="false">

    <div class="bar bar-header">
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab/setting">Back</a>

        <h1 class="title">SAP User Validation</h1>
    </div>
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list">
            <div class="item item-divider">
                SAP_System
            </div>
            <a ng-repeat="data in SAPSysArray" class="item">
                {{ data.$id+': '+data.$value }}
            </a>
        </div>
        <form name="validation" ng-submit="tryValidation()">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username" name="username" ng-model="model.user" ng-required="true"
                           ng-minlength="4"
                           ng-maxlength="10">
                </label>

                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="model.password" ng-required="true"
                           ng-minlength="1">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Language
                    </div>
                    <select name='options'
                            ng-change="changedValue(preflang)" ng-model="preflang"
                            ng-options="language.$id as language.$value for language in languages">
                    </select>
                </label>
            </div>
            <button ng-show="validation.username.$error.required"
                    class="button button-clear button-assertive">
                username is required
            </button>
            <button ng-show="validation.username.$error.maxlength"
                    class="button button-clear button-assertive">
                username is too long
            </button>
            <button ng-show="validation.username.$error.minlength"
                    class="button button-clear button-assertive">
                username is too short
            </button>

            <button class="button button-block button-positive" type="submit">{{ buttontext }}</button>
            <div class="list">
                <a ng-repeat="(key,value) in model.last" class="item">
                    {{ key+': '+value }}
                </a>
                <span class="item-note" am-time-ago="message.last.date"></span>
            </div>
        </form>

    </ion-content>
</ion-view>

