
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-default">

  <!-- Messages Tab -->
  <ion-tab title="Messages"
           href="#/tab/messages">
    <ion-nav-view name="messages-tab"></ion-nav-view>
  </ion-tab>

  <!-- Peoples Tab -->
  <ion-tab title="Contacts"  href="#/tab/contacts">
    <ion-nav-view name="contacts-tab"></ion-nav-view>
  </ion-tab>

  <!-- Components Tab
  <ion-tab title="Components"  href="#/tab/components">
    <ion-nav-view name="components-tab"></ion-nav-view>
  </ion-tab>
-->
  <!-- Setting Tab -->
  <ion-tab title="Setting" href="#/tab/setting">
        <ion-nav-view name="setting-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
